
.thread_container{
    border: solid orange 1px;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.thread_content{

}

.image_section{
    display: flex;
    flex-direction: row;
}


.id{
 margin: 0 5px;
 border-right: solid 1px black;
}


.posts_container{
    border: solid red 1px;
   
}



.image_container{
    min-width: 100px;
    min-height: 100px;
    max-width: 200px;
    max-height: 100px;
    border: solid lime 1px;
}