<div *ngIf="thread" class="thread-container">
  <div class="thread-sub-container">
    <a class="hide-thread-link" [routerLink]="">[-]</a>

    <div class="files" *ngIf="files">
      <div class="row">
        <div class="file" *ngFor="let img of files">
          <div class="file-info">
            file 1aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          </div>
          <a><img [src]="img" class="post-image" /></a>
        </div>
      </div>
    </div>

    <div class="intro">
      <span class="thread-title">{{ thread.title | titlecase}}</span>
      <span class="username">{{ thread.username ? thread.username : "anonymous" }}</span>
      <span class="thread-date">{{
        thread.creationDate | date : "YYYY-MM-dd hh:mm:ss.SSS "
        }}</span>
      <span><a>No:{{ thread.id }}</a></span>
      <span><a>[Watch thread]</a></span>
      <span><a>[Reply]</a></span>
    </div>

    <div class="post-body">
      <span class="post-text">
        {{ thread.text }}
      </span>
   
    </div>
    <br>
    <span class="omitted">
      <span><a *ngIf="posts.length" class="expand-link" [routerLink]="" (click)="hidePosts()">hide expanded posts</a></span>
      <span *ngIf="countPosts && posts.length < countPosts">{{ countPosts - posts.length }} posts hidden,
        <a class="expand-link" (click)="loadMorePosts()" [routerLink]="" queryParamsHandling="preserve">click to expand</a></span>
    </span>
    <br>
    <!-- </div> -->
    <ng-container *ngFor="let p of posts">
      <app-post [post]="p" ></app-post>
      <br class="post-sep">
    </ng-container>
  </div>

</div>