<div *ngIf="post" class="post_container">
    <div class="post-sub-container">
        <div class="files" *ngIf="files">
            <div class="row">
                <div class="file" *ngFor="let img of files">
                    <div class="file-info">file 1aaaaaaaaaaaaaaqqqqqqqqqqq</div>
                    <a><img [src]="img" class="post-image"></a>
                </div>
            </div>
        </div>

        <div class="intro">
            <span class="username">{{ post.username ? post.username : "anonymous" }}</span>
            <span class="date">{{
                post.creationDate | date : "YYYY-MM-dd hh:mm:ss.SSS "
                }}</span>
                <ng-container *ngIf="inBoard">
                    <span><a [routerLink]="'/thread/'+post.threadId" >No:{{ post.id }}</a></span>
                </ng-container>
                <ng-container *ngIf="!inBoard">
                   
                    <span><a  (click)="replyTo(post.id)">No:{{ post.id }}_</a></span>
                </ng-container>
        </div>

        <div class="post-body">
            {{post.text}}
        </div>
    </div>

</div>