<div *ngIf="post" class="post_container" [id]="'post'+post.id">
    <div class="post-sub-container">
        <div class="files" *ngIf="files">
            <div class="row wrap">
                <div class="file" *ngFor="let img of files">
                    <div class="file-info">file 1aaaaaaaaaaaaaaqqqqqqqqqqq"f</div>
                    <a class="post-image" (click)="toggleImageSize(img)"><img class="img" [src]="img"></a>
                </div>
            </div>
        </div>

        <div class="intro">
            <span class="username">{{ post.username ? post.username : "anonymous" }}</span>
            <span class="date">{{
                post.creationDate | date : "YYYY-MM-dd hh:mm:ss.SSS "
                }}</span>
            <ng-container *ngIf="inBoard">
                <span><a [routerLink]="'/thread/'+post.threadId" [queryParams]="{resp:post.id}">No:{{ post.id
                        }}</a></span>
            </ng-container>
            <ng-container *ngIf="!inBoard">

                <span><a (click)="replyTo(post.id)">No:{{ post.id }}</a></span>
            </ng-container>

            <span (mouseenter)="changeReplyPreview(id,$event)" class="replies" *ngFor="let id of post.repliedBy">
                <a [routerLink]="'.'" [fragment]="'post'+id" [post]="replyPreview" class="reply"> >>{{id}} </a>
            </span>

        </div>

        <div class="post-body">
            {{post.text}}
        </div>
    </div>

</div>